@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #2563eb;
  --sidebar-color: rgb(16 24 40);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer !important;
}

/* Buttons */
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.btn-primary {
  background: #2563eb;
  color: white;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-danger {
  background: #dc2626;
  color: white;
}

.btn-danger:hover {
  background: #b91c1c;
}

.icon-add {
  padding: 10px !important;
  border: 3px solid;
  border-radius: 50px;
  font-weight: 700;
}

.icon-add:hover {
  border-color: var(--theme-color);
  color: var(--theme-color)
}

/* Icon Buttons */
.icon-btn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-edit {
  background: #ca8a04;
  color: white;
}

.icon-edit:hover {
  background: #a16207;
}

.icon-delete {
  background: #dc2626;
  color: white;
}

.icon-delete:hover {
  background: #b91c1c;
}

/* Card */
.card {
  padding: 10px 16px;
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card.table-card{
  padding:8px 10px;
}

.table-card .grid {
  width: 100%;
}

.table-card .grid div {
  padding-left: 20px;
  border-right: 2px solid #1f2937;
}

.table-card .grid div:first-child {
  padding-left: 0;
}

.card.center-card{
  align-items: center !important;
}

.card.project-card {
  /* align-items: stretch; */
  flex-direction: column;
}

.no-records {
  border: 3px solid var(--sidebar-color);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* Inputs */
.input {
  width: 100%;
  padding: 10px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: white;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}

/* Remove arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  width: 100%;
  padding: 10px 12px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  outline: none;

  /* remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* custom arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

/* swal css */

.swal-custom {
  background: #111827 !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.swal-popup {
  background: #111827 !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.swal-title {
  color: #fff !important;
  font-weight: 600;
}

.swal-content {
  text-align: left;
}

.swal-label {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 4px;
}

.swal-box {
  background: #1f2937;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swal-copy-btn {
  background: #2563eb;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swal-copy-btn.success {
  background: #16a34a;
}

.swal-warning {
  font-size: 12px;
  color: #facc15;
  margin-top: 10px;
}