@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #2563eb;
  --sidebar-color: rgb(16 24 40);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--sidebar-color)
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
}

/* Buttons */
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.btn-primary {
  background: var(--theme-color);
  color: white;
}

.btn-primary:hover {
  background: var(--theme-color);
}

.btn-danger {
  background: #dc2626;
  color: white;
}

.btn-danger:hover {
  background: #b91c1c;
}

.icon-add {
  padding: 10px !important;
  border: 3px solid;
  border-radius: 50px;
  font-weight: 700;
}

.icon-add:hover {
  border-color: var(--theme-color);
  color: var(--theme-color)
}

/* Icon Buttons */
.icon-btn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-edit {
  background: #ca8a04;
  color: white;
}

.icon-edit:hover {
  background: #a16207;
}

.icon-delete {
  background: #dc2626;
  color: white;
}

.icon-delete:hover {
  background: #b91c1c;
}

/* Card */
.card {
  padding: 10px 16px;
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-6px);
  border-color: var(--theme-color);
  box-shadow: 0 0 10px 2px rgb(6 22 61 / 97%);
  ;
}

.card.table-card {
  padding: 8px 10px;
}

.table-card .grid {
  width: 100%;
}

.table-card .grid div {
  padding-left: 20px;
  border-right: 2px solid #1f2937;
}

.table-card .grid div:first-child {
  padding-left: 0;
}

.table-card .grid div:last-child {
  border-right: none;
}

.card.center-card {
  align-items: center !important;
}

.card.project-card {
  /* align-items: stretch; */
  flex-direction: column;
}

.ai-border-card {
  border: 1px solid var(--theme-color);
  border-radius: 16px;
  background: #111827;
  padding: 10px 16px;

  animation: borderPulse 3s ease-in-out infinite;
}

@keyframes borderPulse {

  0%,
  100% {
    border-color: rgba(104, 147, 239, 0.3);
    box-shadow: 0 0 0px rgba(37, 99, 235, 0);
  }

  50% {
    border-color: rgba(37, 99, 235, 0.8);
    box-shadow: 0 0 8px rgba(37, 99, 235, 0.4);
  }
}

.client-dash .card.project-card{
  padding: 0 16px;
}

.no-records {
  border: 3px solid var(--sidebar-color);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* Inputs */
.input {
  width: 100%;
  padding: 10px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: white;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border-color: var(--theme-color);
}

/* Remove arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  width: 100%;
  padding: 10px 12px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  outline: none;

  /* remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* custom arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

/* swal css */

.swal-custom {
  background: #111827 !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.swal-popup {
  background: #111827 !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.swal-title {
  color: #fff !important;
  font-weight: 600;
}

.swal-content {
  text-align: left;
}

.swal-label {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 4px;
}

.swal-box {
  background: #1f2937;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swal-copy-btn {
  background: var(--theme-color);
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swal-copy-btn.success {
  background: #16a34a;
}

.swal-warning {
  font-size: 12px;
  color: #facc15;
  margin-top: 10px;
}

/* ROOT */
.landing-root {
  height: 100vh;
  background: #020617;
  color: white;
  position: relative;
  overflow: hidden;
}

/* GLOW */
.landing-glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background: var(--theme-color);
  filter: blur(150px);
  opacity: 0.15;
  top: 20%;
  left: 30%;
  border-radius: 50%;
}

/* NAV */
.landing-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.landing-nav h2 {
  font-size: 20px;
  font-weight: bold;
}

.landing-nav button {
  background: var(--theme-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

.landing-nav button:hover {
  background: var(--theme-color);
}

/* HERO */
.landing-hero {
  text-align: center;
  margin-top: 100px;
}

.landing-hero h1 {
  font-size: 48px;
  font-weight: 700;
}

.landing-hero p {
  color: #94a3b8;
  margin-top: 12px;
}

.landing-hero button {
  margin-top: 20px;
  background: var(--theme-color);
  padding: 12px 24px;
  border-radius: 10px;
  transition: 0.3s;
}

.landing-hero button:hover {
  background: var(--theme-color);
}

/* FEATURES */
.landing-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 60px 80px;
}

.feature-card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #1f2937;
}

.feature-card:hover {
  transform: translateY(-6px);
  border-color: var(--theme-color);
}

.feature-card h3 {
  margin-bottom: 8px;
}

.feature-card p {
  color: #9ca3af;
  font-size: 14px;
}

/* FOOTER */
.landing-footer {
  text-align: center;
  color: #6b7280;
  padding: 20px;
  font-size: 14px;
}

/* links */
.footer-link {
  color: #9ca3af;
  text-decoration: none;
  transition: all 0.25s ease;
  position: relative;
}

/* hover effect */
.footer-link:hover {
  color: var(--theme-color);
}

/* underline animation */
.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background: var(--theme-color);
  transition: width 0.25s ease;
}

.footer-link:hover::after {
  width: 100%;
}

/* separator */
.footer-sep {
  margin: 0 8px;
  color: #4b5563;
}


.sidebar .landing-footer {
  font-size: 13px;
  padding: 0;
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width:768px) {

  .table-card .grid div {
    padding: 10px;
    border-right: none;
  }

  .table-card .grid div:first-child {
    padding-left: 10px;
  }

}

@media only screen and (max-width:565px) {

  .landing-nav {
    padding: 20px;
  }

  .landing-hero {
    margin-top: 0;
    padding: 20px;
  }

  .landing-hero h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .landing-features {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 20px;
  }

  .feature-card {
    padding: 10px;
  }

}